.html {
  width: 80%;
}

#button {
  margin-bottom: 10px;
}

.add-video {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  text-align: right;
}

.play-btn {
  border: 1px solid transparent;
  padding: 3px 8px;
  font-size: 10px;
  font-family: inherit;
  background-color: #ff0000;
  transition: border-color 0.25s;
  border-radius: 5px;
}

.namee {
  text-align: center;
  font-size: larger;
  font-size: 18px;
  padding: 10px;
  font-weight: 600;
  width: 150px;
  border-radius: 6px;
}
